@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
header {
  background: linear-gradient(to bottom, #dce7c7, white);
  display: grid;
  height: 250px; }
  header .logoquinta {
    width: 400px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px; }
  header .navbar {
    background-color: #f0f6d9; }
  header .navbar-nav {
    padding-left: 13px; }
  header .navbar-collapse {
    justify-content: center; }
  header .nav-link {
    color: black !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
    header .nav-link:hover {
      color: #8bb73b !important; }
  header .navbar-light .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    stroke: black; }

@media screen and (max-width: 991px) {
  header .navbar {
    display: flex;
    position: absolute;
    align-items: center;
    padding-top: 3%;
    padding-left: 2%;
    background-color: transparent !important; }
  header .navbar-light .navbar-toggler {
    color: transparent; } }

@media screen and (max-width: 678px) {
  header {
    height: 250px;
    width: auto; }
    header .nav-link {
      font-size: 15px; }
    header .logoquinta {
      width: 350px; } }

@media screen and (max-width: 577px) {
  header {
    height: 150px;
    width: auto; }
    header .navbar {
      padding-top: 8%;
      padding-left: 5%; }
    header .nav-link {
      font-size: 13px; }
    header .logoquinta {
      width: 200px;
      margin-right: 20px;
      margin-top: 1px; } }

@media screen and (max-width: 444px) {
  header {
    height: 150px;
    width: auto; }
    header .navbar {
      padding-top: 8%;
      padding-left: 5%; }
    header .nav-link {
      font-size: 13px; }
    header .logoquinta {
      width: 200px;
      margin-right: 20px;
      margin-top: 1px; } }

@media screen and (max-width: 386px) {
  header {
    height: 150px;
    width: auto; }
    header .navbar {
      padding-top: 8%;
      padding-left: 5%; }
    header .nav-link {
      font-size: 13px; }
    header .logoquinta {
      width: 170px;
      margin-right: 20px;
      margin-top: 1px; } }

@media screen and (max-width: 320px) {
  header {
    height: 130px;
    width: auto; }
    header .navbar {
      padding-top: 10%;
      padding-left: 5%; }
    header .navbar-toggler-icon {
      width: 25px; }
    header .navbar-light .navbar-toggler {
      color: transparent; }
    header .nav-link {
      font-size: 10px;
      padding: 2%; }
    header .logoquinta {
      width: 150px;
      margin-right: 20px; } }

main .titulo {
  color: black;
  font-family: "Roboto Slab";
  font-size: 30px;
  padding-top: 40px; }

main .descripcionIndex {
  font-family: "RobotoLight";
  font-size: 17px;
  padding-bottom: 40px; }

main .card-img-top {
  height: 300px; }

main .contenedor__imagen img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  overflow: hidden !important; }

main .fotogaleria:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden !important; }

main .contenedor__imagen {
  overflow: hidden;
  border-radius: 5px; }

.fotogaleria {
  margin: 10px;
  width: 400px; }

.row {
  --bs-gutter-x: 0%;
  justify-content: center; }

.descripcionEventos {
  font-family: "RobotoLight";
  font-size: 17px;
  padding-bottom: 40px; }

.fotoeventos {
  width: 420px; }

section .row__carousel {
  align-items: center;
  --bs-gutter-x: 0%; }

section .carousel {
  margin: auto;
  width: 600px; }

section .row__cards {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px; }

section .card {
  margin: auto; }

section .conteiner {
  margin: auto; }

@media screen and (max-width: 1399px) {
  main .fotogaleria {
    width: 350px; }
  main .fotoeventos {
    width: 360px; } }

@media screen and (max-width: 1199px) {
  main .fotogaleria {
    width: 300px;
    margin: auto;
    margin-bottom: 10px; }
  main .fotoeventos {
    width: 300px; } }

@media screen and (max-width: 991px) {
  main .row__cards {
    padding-bottom: 15px; }
  main .contenedor__imagen {
    width: 320px;
    height: 245px; }
  main .fotoeventos {
    width: 750px;
    margin-bottom: 20px; }
  main .my-5 {
    margin-top: 0% !important; } }

@media screen and (max-width: 767px) {
  main .carousel {
    margin: auto;
    width: 450px !important; }
  main .row__galeria {
    --bs-gutter-x: 10px; }
  main .contenedor__imagen {
    width: 420px;
    height: 325px; }
  main .fotogaleria {
    width: 400px; } }

@media screen and (max-width: 575px) {
  main .fotogaleria {
    width: 380px;
    display: flex;
    align-items: center; }
  main .descripcionIndex {
    padding: 45px;
    padding-top: 10px; }
  main .descripcionEventos {
    font-size: 14px;
    padding-bottom: 35px; }
  main .titulo {
    padding-top: 45px; } }

@media screen and (max-width: 514px) {
  main .carousel {
    width: 380px !important; }
  main .cards__contacto {
    width: 400px;
    margin: auto; }
  main .titulo {
    font-size: 25px; }
  iframe {
    width: 400px; } }

@media screen and (max-width: 435px) {
  main .titulo {
    font-size: 20px; }
  main .descripcionIndex {
    padding-top: 0%; }
  main .carousel {
    width: 320px !important; }
  main .titulo_galeria {
    font-size: 30px; }
  main .cards__contacto {
    width: 330px;
    margin: auto; }
  main iframe {
    width: 330px;
    height: 330px; } }

@media screen and (max-width: 405px) {
  main .descripcionIndex {
    font-size: 10px; }
  main .carousel {
    width: 300px !important; }
  main iframe {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 340px) {
  main .titulo {
    font-size: 20px; }
  main .carousel {
    width: 270px !important; }
  main .contenedor__imagen {
    height: 250px; }
  main .cards__contacto {
    width: 300px;
    margin: auto; }
  main iframe {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 320px) {
  main .row__cards {
    width: 280px; }
  iframe {
    width: 298px;
    height: 300px; } }

.footer-basic {
  position: 0%;
  color: #000000; }
  .footer-basic footer {
    position: relative;
    background-color: #f0f6d9;
    margin-top: 40px; }
  .footer-basic .iconofacebook {
    width: 60px;
    display: inline-block;
    margin: auto;
    padding: 15px; }
  .footer-basic .logofooter {
    width: 170px;
    display: flex;
    margin: auto;
    padding: 20px; }
  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px; }
  .footer-basic ul {
    padding: 5px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6; }
    .footer-basic ul a {
      color: black;
      text-decoration: none; }
  .footer-basic li {
    padding: 10px; }
  .footer-basic .copyright {
    text-align: center;
    font-size: 13px;
    color: #1e1d1d;
    margin-bottom: 0; }

@media screen and (max-width: 575px) {
  .footer-basic
ul {
    font-size: 15px; } }

@media screen and (max-width: 320px) {
  .footer-basic {
    display: inline-block; } }

@font-face {
  font-family: "RobotoLight";
  src: url(../fonts/RobotoSlab-Light.ttf); }
