@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
footer .row__footer .logofooter {
  display: flex;
  position: relative; }

header {
  background: linear-gradient(to bottom, #dce7c7, white);
  display: grid;
  grid-column: 1/4;
  height: 250px; }
  header .logoquinta {
    width: 200px;
    margin: auto; }
  header .nav-link {
    color: black !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
    header .nav-link:hover {
      color: #8bb73b !important; }

@media screen and (max-width: 991px) {
  header .navbar {
    display: flex;
    position: absolute;
    align-items: center;
    padding: 5%; }
  header .logoquinta {
    display: flex;
    position: relative;
    width: 20%;
    margin: auto; } }

@media screen and (max-width: 577px) {
  header {
    height: 250px;
    width: auto; } }

@media screen and (max-width: 444px) {
  header {
    height: 250px;
    width: auto; }
    header .logoquinta {
      width: 30%;
      margin: auto; } }

/* ARREGLAR ESTE HEADER */
@media screen and (max-width: 320px) {
  header {
    height: 200px;
    width: auto; }
    header .logoquinta {
      width: 40%;
      margin: auto; } }

main .titulo {
  color: black;
  font-family: "Roboto Slab";
  font-size: 30px; }

main .descripcionIndex {
  font-family: "RobotoLight";
  font-size: 17px;
  padding-bottom: 40px; }

main section .row__carousel {
  align-items: center;
  --bs-gutter-x: 0%; }

main section .carousel {
  margin: auto;
  width: 600px; }

@media screen and (max-width: 767px) {
  main .carousel {
    margin: auto;
    width: 450px !important; } }

@media screen and (max-width: 514px) {
  main .carousel {
    width: 380px !important; } }

@media screen and (max-width: 435px) {
  main .titulo {
    font-size: 30px; }
  main .carousel {
    width: 320px !important; } }

@media screen and (max-width: 405px) {
  main .descripcionIndex {
    font-size: 10px; }
  main .carousel {
    width: 300px !important; } }

@media screen and (max-width: 340px) {
  main .titulo {
    font-size: 15px; }
  main .carousel {
    width: 270px !important; } }

footer {
  position: relative;
  background-color: #b6e1f5;
  margin-top: 40px; }
  footer .row__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    footer .row__footer .logofooter {
      width: 20%;
      justify-content: center;
      align-items: center;
      margin-left: 20px; }
    footer .row__footer .footer__logos {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 10px; }
      footer .row__footer .footer__logos .iconofacebook {
        width: 40px;
        margin-top: 10px; }
    footer .row__footer .footer__contacto {
      flex-direction: column; }
      footer .row__footer .footer__contacto p {
        margin-top: 0%;
        margin-bottom: 0%; }

@media screen and (max-width: 1145px) {
  footer .logofooter {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px; }
  footer .footer__logos {
    margin-bottom: 10px; } }

@media screen and (max-width: 991px) {
  footer .row__footer {
    display: flex;
    justify-content: center; }
    footer .row__footer img.logofooter {
      width: 30%;
      padding: 0%;
      display: inline;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      margin-bottom: 10px; }
    footer .row__footer .footer__logos {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 10px; }
    footer .row__footer .footer__contacto {
      width: fit-content;
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      margin-top: 10px;
      margin-left: 50px; } }

@media screen and (max-width: 767px) {
  footer .row__footer {
    display: flex;
    justify-content: center; }
    footer .row__footer img.logofooter {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      margin-top: 10px; }
    footer .row__footer .footer__contacto {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px; } }

@media screen and (max-width: 700px) {
  footer img.logofooter {
    width: 45%; }
  footer .footer__contacto {
    margin-top: 20px;
    margin-left: 30px; } }

@media screen and (max-width: 577px) {
  footer .row__footer {
    display: flex;
    justify-content: center; }
    footer .row__footer img.logofooter {
      width: 40%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: auto;
      padding-left: 10px;
      padding-top: 10px; }
    footer .row__footer .footer__logos {
      list-style: none;
      display: flex;
      margin: auto;
      justify-content: space-around;
      align-items: center;
      width: max-content; }
      footer .row__footer .footer__logos .iconofacebook {
        margin: 15px;
        width: 30px; }
    footer .row__footer .footer__contacto {
      display: flex;
      justify-content: space-evenly;
      margin: auto;
      font-size: smaller;
      padding-top: 10px; } }

@media screen and (max-width: 575px) {
  footer .row__footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .row__footer img.logofooter {
      width: 30%;
      margin: auto; }
    footer .row__footer .footer__logos {
      list-style: none;
      display: flex;
      margin: auto;
      justify-content: space-around;
      align-items: center;
      width: max-content; }
      footer .row__footer .footer__logos .iconofacebook {
        margin: 15px;
        width: 30px; }
    footer .row__footer .footer__contacto {
      display: flex;
      justify-content: space-evenly;
      margin: auto;
      font-size: smaller;
      padding-top: 10px; } }

@media screen and (max-width: 444px) {
  footer img.logofooter {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 320px) {
  footer {
    display: flex; }
    footer .logofooter {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center; } }

@font-face {
  font-family: "RobotoLight";
  src: url(../fonts/RobotoSlab-Light.ttf); }
