@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
footer .row__footer .logofooter {
  display: flex;
  position: relative; }

header {
  background: linear-gradient(to bottom, #dce7c7, white);
  display: grid;
  grid-column: 1/4;
  height: 250px; }
  header .logoquinta {
    width: 400px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 10px; }
  header .navbar {
    background-color: #f0f6d9; }
  header .nav-link {
    color: black !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
    header .nav-link:hover {
      color: #8bb73b !important; }
  header .navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.85); }
  header .navbar-light .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    stroke: black; }

@media screen and (max-width: 991px) {
  header .navbar {
    display: flex;
    position: absolute;
    align-items: center;
    padding: 5%;
    background-color: transparent !important; }
  header .black-toggler.navbar-toggler-icon {
    border-color: black; }
  header .logoquinta {
    display: flex;
    position: relative;
    margin: auto;
    padding-bottom: 0%; } }

@media screen and (max-width: 577px) {
  header {
    height: 250px;
    width: auto; }
    header .nav-link {
      font-size: 10px; } }

@media screen and (max-width: 444px) {
  header {
    height: 250px;
    width: auto; }
    header .logoquinta {
      width: 300px;
      margin: auto; } }

@media screen and (max-width: 320px) {
  header {
    height: 200px;
    width: auto; }
    header .logoquinta {
      width: 250px;
      margin: auto; } }

main .titulo {
  color: black;
  font-family: "Roboto Slab";
  font-size: 30px;
  padding-top: 40px; }

main .descripcionIndex {
  font-family: "RobotoLight";
  font-size: 17px;
  padding-bottom: 40px; }

main .card-img-top {
  height: 300px; }

main .fotogaleria {
  margin: 10px;
  width: 400px; }

main .row {
  --bs-gutter-x: 0%;
  justify-content: center; }

main .fotoeventos {
  width: 420px; }

main section .row__carousel {
  align-items: center;
  --bs-gutter-x: 0%; }

main section .carousel {
  margin: auto;
  width: 600px; }

main section .row__cards {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px; }

main section .card {
  margin: auto; }

main section .conteiner {
  margin: auto; }

@media screen and (max-width: 1399px) {
  main .fotogaleria {
    width: 350px; }
  main .fotoeventos {
    width: 360px; } }

@media screen and (max-width: 1199px) {
  main .fotogaleria {
    width: 300px;
    margin: auto;
    margin-bottom: 10px; }
  main .fotoeventos {
    width: 300px; } }

@media screen and (max-width: 991px) {
  main .row__cards {
    padding-bottom: 15px; }
  main .fotoeventos {
    width: 750px;
    margin-bottom: 20px; }
  main .my-5 {
    margin-top: 0% !important; } }

@media screen and (max-width: 767px) {
  main .carousel {
    margin: auto;
    width: 450px !important; }
  main .row__galeria {
    --bs-gutter-x: 10px; } }

@media screen and (max-width: 574px) {
  main .fotogaleria {
    width: 380px;
    display: flex;
    align-items: center; } }

@media screen and (max-width: 514px) {
  main .carousel {
    width: 380px !important; }
  main .cards__contacto {
    width: 400px;
    margin: auto; }
  iframe {
    width: 400px; } }

@media screen and (max-width: 435px) {
  main .titulo {
    font-size: 25px; }
  main .carousel {
    width: 320px !important; }
  main .cards__contacto {
    width: 330px;
    margin: auto; }
  iframe {
    width: 330px; } }

@media screen and (max-width: 405px) {
  main .descripcionIndex {
    font-size: 10px; }
  main .carousel {
    width: 300px !important; } }

@media screen and (max-width: 340px) {
  main .titulo {
    font-size: 20px; }
  main .carousel {
    width: 270px !important; }
  main .cards__contacto {
    width: 300px;
    margin: auto; }
  iframe {
    width: 300px; } }

footer {
  position: relative;
  background-color: #f0f6d9;
  margin-top: 40px; }
  footer .row__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    footer .row__footer .logofooter {
      width: 100px;
      justify-content: center;
      align-items: center;
      margin-left: 20px; }
    footer .row__footer .footer__logos {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 10px; }
      footer .row__footer .footer__logos .iconofacebook {
        width: 40px;
        margin-top: 10px; }
    footer .row__footer .footer__contacto {
      flex-direction: column; }
      footer .row__footer .footer__contacto p {
        margin-top: 0%;
        margin-bottom: 0%; }

@media screen and (max-width: 1145px) {
  footer .logofooter {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px; }
  footer .footer__logos {
    margin-bottom: 10px; } }

@media screen and (max-width: 991px) {
  footer .row__footer {
    display: flex;
    justify-content: center; }
    footer .row__footer img.logofooter {
      width: 100px;
      padding: 0%;
      display: inline;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      margin-bottom: 10px; }
    footer .row__footer .footer__logos {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 10px; }
    footer .row__footer .footer__contacto {
      width: fit-content;
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      margin-top: 10px;
      margin-left: 50px; } }

@media screen and (max-width: 767px) {
  footer .row__footer {
    display: flex;
    justify-content: center; }
    footer .row__footer img.logofooter {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      margin-top: 10px; }
    footer .row__footer .footer__contacto {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px; } }

@media screen and (max-width: 700px) {
  footer img.logofooter {
    width: 45%; }
  footer .footer__contacto {
    margin-top: 20px;
    margin-left: 30px; } }

@media screen and (max-width: 577px) {
  footer .row__footer {
    display: flex;
    justify-content: center; }
    footer .row__footer img.logofooter {
      width: 40%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: auto;
      padding-left: 10px;
      padding-top: 10px; }
    footer .row__footer .footer__logos {
      list-style: none;
      display: flex;
      margin: auto;
      justify-content: space-around;
      align-items: center;
      width: max-content; }
      footer .row__footer .footer__logos .iconofacebook {
        margin: 15px;
        width: 30px; }
    footer .row__footer .footer__contacto {
      display: flex;
      justify-content: space-evenly;
      margin: auto;
      font-size: smaller;
      padding-top: 10px; } }

@media screen and (max-width: 575px) {
  footer .row__footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .row__footer img.logofooter {
      width: 30%;
      margin: auto; }
    footer .row__footer .footer__logos {
      list-style: none;
      display: flex;
      margin: auto;
      justify-content: space-around;
      align-items: center;
      width: max-content; }
      footer .row__footer .footer__logos .iconofacebook {
        margin: 15px;
        width: 30px; }
    footer .row__footer .footer__contacto {
      display: flex;
      justify-content: space-evenly;
      margin: auto;
      font-size: smaller;
      padding-top: 10px; } }

@media screen and (max-width: 444px) {
  footer img.logofooter {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 320px) {
  footer {
    display: flex; }
    footer img.logofooter {
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center; } }

@font-face {
  font-family: "RobotoLight";
  src: url(../fonts/RobotoSlab-Light.ttf); }
