
@font-face {
    font-family: "Prata";
    src: url("./fonts/RobotoSlab-Regular.ttf");
}
header{
    background: linear-gradient(to bottom,rgb(220, 231, 199),white );
    display: grid;
    grid-column: 1/4;
    height: 250px;
}

.nav-link:hover{
    color: rgb(139, 183, 59) !important;
}
.nav-link{
    color: black !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.iconofacebook{
    width: 40px;
    margin-top: 10px;
}
.logoquinta{
    width: 200px;
    margin: auto;
}
/* .barraNav__lista{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header a:hover{
    color: rgb(113, 193, 56);
}
.titulo{
    color: black;
    font-family: "Prata";
    font-size: 40px; 
}
.descripcionIndex{
    font-family: "Prata";
    font-size: 17px;
    padding-bottom: 40px;
}
section.container.container__index{
    padding: 0%;
    margin: auto;
}
.row__carousel{
    width: fit-content;
    margin: auto; 
}
.carousel{
    margin: auto;
    width: 600px;
}
footer{
    position: relative;
    background-color: rgb(182, 225, 245);
    margin-top: 40px;
}
.row{
    align-items: center;
    --bs-gutter-x: 0%;
}
.logofooter{
    width: 20%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.footer__logos{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}
.footer__contacto{
    margin-top: 10px;
    margin-left: 80px;
    display: flex;
    position: relative;
    flex-direction: column
    
}
.tituloFooter{
    text-align: center;
    font-family: "Prata";
    font-size: 25px;
    margin-top: 20px;
}
.mainIndex__fotos{
    grid-column: 1/4;
    margin: auto;
    margin-top: 50px;
}
.fotohome{
    width: 360px;
    transition: width 2s;
}
.fotohome:hover{
    width: 450px;
    
}
.bodyInfo{
    height: 800px;
    position: relative;
}
.mainInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 300px;
    height: fit-content;
    position: relative;

}
.tituloInfo{
    grid-column: 1/3;
    color: black;
    padding-top: 30px;
    text-align: center; 
    font-family: "Prata";
    font-size: 40px; 
}
section p{
    font-size: 20px;
    font-family: "Prata";
}
.cardInfo uno{
    grid-column: 1/2;
    display: flex;
    position: relative;
    justify-content: center;
}
 .fotoInfo{
    width: 300px;
    display: flex;
    position: relative;
    align-items: center;
    margin: auto;  
}
.cardInfo dos{
    width: 500px;
    display: inline-block; 
    position: relative;
    left: 30vh;
}
.descripcionInfo{
    margin: auto;
    width: fit-content;
    position: relative; 
    padding-bottom: 10px;   
}
.footerInfo{
    position: absolute;
    bottom: 0%;
}
.bodyGaleria{
    height: 1250px;
}
img.fotogaleria{
    width: 400px;
    margin: 10px;
}
.bodyEventos{
    height: 800px;
}
.galeria__eventos{
    padding-top: 50px;
    padding-bottom: 50px;
}
img.fotoeventos{
    width: 400px;
}
.bodyContacto{
    height: 900px;
    position: relative;
}
.textoreservas{
    width: fit-content;
}
.contacto{
    width: fit-content;
    display: inline-block;
    position: relative;
    bottom: 20vh;
    left: 15vh;
}
.ubicacion{
    width: fit-content;
    display: inline-block;
    position: relative;
    left: 40vh;
    top: 5vh;
}
.subtitulo1{
    width: fit-content;
    position: relative;
    left: 43vh;
    bottom: 13vh;
}
.subtitulo2{
    width: fit-content;
    position: relative;
    bottom: 5vh; 
}
@media screen and (max-width: 1399px) {
    img.fotogaleria{
        width: 350px;
    }
    img.fotoeventos{
        width: 350px;
    }

}
@media screen and (max-width: 1199px) {
    img.fotogaleria{
        width: 290px;
    }
    img.fotoeventos{
        width: 300px;
    }

}
@media screen and (max-width: 1145px) {
    .bodyIndex{
        height: 1000px;
    }
    .logofooter{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-top: 10px;
    }
    .footer__logos{
        margin-bottom: 10px;
    }
    .bodyEventos{
        display: block;
    }
    .header1{
        grid-row: 1/2;
        width: auto;
    }
    header{
        width: auto;
    }
    .mainIndex__contenido{
        width: fit-content;
        grid-row: 1/4;
    }
    .col-sm-5{
        padding: 0%;
    }
    img.fotoeventos{
        width: 300px;
    }
}

@media screen and (max-width: 991px) {
    .bodyIndex{
        height: 900px;
    }
    .bodyEventos{
        position: relative;
    }
    .header1{
        height: 200px;
        display: flex;
    }
    header{
        height: 200px;
        width: auto;
    }
    .logofooter{
        width: 30%;
        padding: 0%;
        display: inline;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .row.footer{
        display: flex;
        justify-content: center;
    }
    .footer__logos{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .footer__contacto{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        margin-top: 10px;
        margin-left: 50px;
    }
    a{
        position: relative;
        display: inline;
    }
    .mainIndex__contenido{
        width: fit-content;
        display: grid;
    }
    .navbar{
        display: flex;
        position: absolute;
        align-items: center;
        padding: 5%;
    }
    .logoquinta{
        display: flex;
        position: relative;
        width: 20%;
        margin: auto;
    }
    
    li{
        padding: 4px;
    }
    .bodyInfo{
        height: 1000px;
    }
    .mainInfo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 300px 300px;
        height: fit-content;
        position: relative;
    }
    .tituloInfo{
        grid-column: 1;
    }
    .cardInfo uno{
        grid-row: 2/3;
    }
    .cardInfo dos{
        grid-row: 3/4;
    }
    .bodyGaleria{
        height: 1700px;
    }
    .row>* {
        width: 50%;
    }
    img.fotogaleria{
        width: 330px;
    }
    .bodyEventos{
        height: 1000px;
    }
    img.fotoeventos{
        width: 320px;
        margin-bottom: 30px;
    }
    .bodyContacto{
        height: 1000px;
    }
    .fotosevento{
        display: flex;
        align-items: center;
        padding: 0;
        margin: auto;
    }
    .col-sm-5{
        padding: 0%;
    }
}
@media screen and (max-width: 767px) {
    .bodyIndex{
        height: 900px;
    }
    .bodyEventos{
        position: relative;
    }
    .header1{
        height: 200px;
        grid-row: 1/2;
    }
    header{
        height: 200px;
        width: auto;
    }
    section .container__index{
        height: 700px; 
    }
    .row__carousel{
        width: fit-content;
        margin: auto; 
    }
    .carousel{
        width: 500px;
    }
    .row.footer{
        display: flex;
        justify-content: center;
    }
    .logofooter{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-top: 10px;
    }
  
    .footer__contacto{
        display: flex;
        position: relative;
        justify-content:space-between;
        align-items: center;
        margin-top: 10px;
    
    }
    a{
        position: relative;
        display: inline;
    }
    .mainIndex__contenido{
        width: fit-content;
    }
    .logoquinta{
        width: 20%;
        margin: auto;
    }
    .barraNav__lista{
        display: block;
        text-align: center;
    }
    li{
        padding: 4px;
    }
    .bodyInfo{
        height: 1000px;
    }
    .mainInfo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 300px 300px;
        height: fit-content;
        position: relative;
    }
    .tituloInfo{
        grid-column: 1;
    }
    .cardInfo uno{
        grid-row: 2/3;
    }
    .cardInfo dos{
        grid-row: 3/4;
    }
    .bodyGaleria{
        height: 1000px;
    }
    .row>* {
        width: 50%;
    }
    img.fotogaleria{
        width: 240px;
    }
    .bodyEventos{
        height: 1100px;
    }
    .row.row__eventos{
        flex-direction: column;
        align-items: center;
    }
    .img.fotoeventos{
        width: 500px;
    }
    .bodyContacto{
        height: 1000px;
    }
    .col-sm-5{
        padding: 0%;
    }

}
@media screen and (max-width: 700px) {
    .bodyIndex{
        height: 900px;
    }
    .header1{
        height: 200px;
    }
    img.logofooter{
        width: 45%;
    }
    .footer__contacto{
        margin-top: 20px;
        margin-left: 30px;
    }
    .col-sm-5{
        padding: 0%;
    }

}
@media screen and (max-width: 577px) {
    .bodyIndex{
        height: 800px;
    }
    .bodyEventos{
        position: relative;
    }
    .header1{
        height: 150px;
    }
    header{
        height: 200px;
        width: auto;
    }
    .row{
        display: flex;
        padding: 0%;
    }
    .col-sm-2{
        padding: 0%;
    }
    .col-sm-5{
        padding: 0%;
    }
    .row.footer{
        display: flex;
        justify-content: center;
    }
    img.logofooter{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-left: 10px;
        padding-top: 10px;
    }
    .footer__logos{
        list-style: none;
        display: flex;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        width: max-content;
    }
    .footer__contacto{
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        font-size: smaller;
        padding-top: 10px;
    }
    section .container__index{
        width: 400px; 
        margin: auto;
    }
    .carousel{
        width: 400px;
    }
    .row__carousel{
        width: fit-content;
        margin: auto; 
    }
    .carousel__container{
        width: fit-content;
        padding: 0%;
    }
    .iconofacebook{
        margin: 15px;
    }
    a{
        position: relative;
        display: inline;
    }
    .mainIndex__contenido{
        width: fit-content;
        display: grid;
    }
    .logoquinta{
        width: 150px;
        margin: auto;
    }
    .barraNav__lista{
        display: block;
        text-align: center;
    }
    li{
        padding: 4px;
    }
    .fotohome{
        width: 280px;
    }
    .bodyInfo{
        height: 1000px;
    }
    .mainInfo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 300px 300px;
        height: fit-content;
        position: relative;
    }
    .tituloInfo{
        grid-column: 1;
    }
    .cardInfo uno{
        grid-row: 2/3;
    }
    .cardInfo dos{
        grid-row: 3/4;
    }
    .bodyGaleria{
        height: 1000px;
    }
    .row>* {
        width: 50%;
    }
    img.fotogaleria{
        width: 230px;  
    }
    .bodyEventos{
        height: 800px;
    }
    .bodyContacto{
        height: 1000px;
    }
    img.fotoeventos{
        display: flex;
        width: 300px;
        margin: auto;
        margin-bottom: 20px;
    }
    img.logofooter{
    width: 25%;
    }
    }
@media screen and (max-width: 444px) {
  
    .bodyEventos{
        position: relative;
    }
    .header1{
        height: 200px;
    }
    header{
        height: 200px;
        width: auto;
    }
    img.logofooter{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainIndex__contenido{
        width: fit-content;
        display: grid;
    }
    .logoquinta{
        width: 30%;
        margin: auto;
    }
    .barraNav__lista{
        display: block;
        text-align: center;
    }
    li{
        padding: 4px;
    }
    .fotohome{
        width: 280px;
    }
    .bodyInfo{
        height: 1300px;
    }
    .mainInfo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 300px 300px;
        height: fit-content;
        position: relative;
    }
    .tituloInfo{
        grid-column: 1;
    }
    .cardInfo uno{
        grid-row: 2/3;
    }
    .cardInfo dos{
        grid-row: 3/4;
    }
    .bodyGaleria{
        height: 1700px;
    }
    .bodyEventos{
        height: 1000px;
    }
    .bodyContacto{
        height: 1000px;
    }
    .fotosevento{
        display: flex;
        align-items: center;
        padding: 0;
        margin: auto;
    }
    .fotoevento{
        display: flex;
        width: 100px;
    }
    .tituloInfo{
        font-size: 30px;
    }
}
@media screen and (max-width: 514px) {
    .bodyGaleria{
    height: 1000px;
    }
    .row>* {
        width: 100%;
        }
        img.fotogaleria{
        width: 450px;   
        }   
}
@media screen and (max-width: 435px) {
    .titulo{
        font-size: 30px;
    }
    .carousel{
        width: 350px;
    } 
    .tituloInfo{
        font-size: 30px;
    }
    .row>* {
        width: 100%;
        }
        img.fotogaleria{
        width: 390px;   
        }  
}
@media screen and (max-width: 405px) {
    .titulo{
        font-size: 30px;
    }
    .descripcionIndex{
        font-size: 10px;
    }
    .carousel{
        width: 300px;
    } 
    .tituloInfo{
        font-size: 30px;
    }
    .bodyInfo{
        height: 1000px;
    }
    img.fotogaleria{
        width: 330px;   
        }  

}
@media screen and (max-width: 320px) {
  
    .bodyEventos{
        position: relative;
    }
    .header1{
        height: 150px;
    }
    header{
        height: 200px;
        width: auto;
    }
    .carousel{
        width: 320px;
        padding-top: 15px;
    }
    .footer{
        display: flex;
    }
    .logofooter{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a{
        position: relative;
        display: inline;
    }
    .mainIndex__contenido{
        width: fit-content;
        display: grid;
    }
    .logoquinta{
        width: 40%;
        margin: auto;
    }
    .barraNav__lista{
        display: block;
        text-align: center;
    }
    li{
        padding: 4px;
    }
    .fotohome{
        width: 280px;
    }
    .bodyInfo{
        height: 1000px;
    }
    .tituloInfo{
        font-size: 30px;
    }
    .mainInfo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 300px 300px;
        height: fit-content;
        position: relative;
    }
    .tituloInfo{
        grid-column: 1;
    }
    .cardInfo uno{
        grid-row: 2/3;
    }
    .cardInfo dos{
        grid-row: 3/4;
    }
    .bodyGaleria{
        height: 1700px;
    }
    .bodyEventos{
        height: 1000px;
    }
    .bodyContacto{
        height: 1000px;
    }
    .fotosevento{
        display: flex;
        align-items: center;
        padding: 0;
        margin: auto;
    }
    .fotoevento{
        display: flex;
        width: 100px;
    }

}
@media screen and (max-width: 340px) {

    .carousel{
        width: 270px;
    }


}