footer{
    position: relative;
    background-color: rgb(182, 225, 245);
    margin-top: 40px;
    .row__footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logofooter{
            width: 20%;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
        }
        .footer__logos{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 10px;
            .iconofacebook{
                width: 40px;
                margin-top: 10px;
            }
        }
        .footer__contacto{
            display: flex;
            position: relative;
            flex-direction: column;
            p{
                margin-top: 0%;
                margin-bottom: 0%;
            }   
        }
    }
}

@media screen and (max-width: 1145px) {
    footer{    
        .logofooter{
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            margin-top: 10px;
        }
        .footer__logos{
            margin-bottom: 10px;
        }
    }
}
@media screen and (max-width: 991px) {
    footer{    
        .row__footer{
            display: flex;
            justify-content: center;
            img.logofooter{
                width: 30%;
                padding: 0%;
                display: inline;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                margin-bottom: 10px;
            }
            .footer__logos{
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 10px;
            }
            .footer__contacto{
                width: fit-content;
                display: flex;
                position: relative;
                flex-direction: row;
                justify-content: space-around;
                align-content: center;
                margin-top: 10px;
                margin-left: 50px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    footer{
        .row__footer{
            display: flex;
            justify-content: center;
            img.logofooter{
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                margin-top: 10px;
            }
            .footer__contacto{
                display: flex;
                position: relative;
                justify-content:space-between;
                align-items: center;
                margin-top: 10px;
            }
        }
    }
}
@media screen and (max-width: 700px) {
    footer{
        img.logofooter{
        width: 45%;
        }
        .footer__contacto{
            margin-top: 20px;
            margin-left: 30px;
        }
    }
}
@media screen and (max-width: 577px) {
    footer{
        .row__footer{
            display: flex;
            justify-content: center;
            img.logofooter{
                width: 40%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: auto;
                padding-left: 10px;
                padding-top: 10px;
                }
            .footer__logos{
                list-style: none;
                display: flex;
                margin: auto;
                justify-content: space-around;
                align-items: center;
                width: max-content;
                    .iconofacebook{
                        margin: 15px;
                        width: 30px;
                    }
                }
            .footer__contacto{
                display: flex;
                justify-content: space-evenly;
                margin: auto;
                font-size: smaller;
                padding-top: 10px;
                }
        }
    }
}
@media screen and (max-width: 575px) {
    footer{
        .row__footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            img.logofooter{
                width: 30%;
                margin: auto;
                }
            .footer__logos{
                list-style: none;
                display: flex;
                margin: auto;
                justify-content: space-around;
                align-items: center;
                width: max-content;
                    .iconofacebook{
                        margin: 15px;
                        width: 30px;
                    }
                }
            .footer__contacto{
                display: flex;
                justify-content: space-evenly;
                margin: auto;
                font-size: smaller;
                padding-top: 10px;
                }
        }
    }
}
@media screen and (max-width: 444px) {
    footer{
        img.logofooter{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    }
}
@media screen and (max-width: 320px) {
    footer{
        display: flex;
        .logofooter{
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
} 
