header{
    background: linear-gradient(to bottom,rgb(220, 231, 199),white );
    display: grid;
    grid-column: 1/4;
    height: 250px;
    
    .logoquinta{
        width: 400px;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 10px;
    }
    .navbar{
        background-color: rgb(240, 246, 217);
    }
    .nav-link{
        color: black !important;
        font-family: map-get($tipografia, navbar);
            &:hover{
                color: rgb(139, 183, 59) !important;
            }
    }
    .navbar-light .navbar-toggler{
        border-color: rgba(0, 0, 0, 0.85);
    }
    .navbar-light .navbar-toggler  .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        stroke: black;
    }
}

@media screen and (max-width: 991px) {
    header{
        .navbar{
            display: flex;
            position: absolute;
            align-items: center;
            padding: 5%;
            background-color: transparent !important;
        }
        .black-toggler.navbar-toggler-icon{
            border-color: black;
        
        }
        .logoquinta{
            display: flex;
            position: relative;
            margin: auto;
            padding-bottom: 0%;
        } 
    }
}
@media screen and (max-width: 577px) {
    header{
        height: 250px;
        width: auto;
        .nav-link{
            font-size: 10px;
        }
    }
}
@media screen and (max-width: 444px) {
    header{
        height: 250px;
        width: auto;
        .logoquinta{
            width: 300px;
            margin: auto;
        }
    }
}
@media screen and (max-width: 320px) {
    header{
        height: 200px;
        width: auto;
        .logoquinta{
            width: 250px;
            margin: auto;
        }
    }
}